<ng-template #content let-modal>

  <button type="button" class="close floating-close" aria-label="Close" (click)="modal.dismiss()">&times;</button>

  <div class="side">
    <div class="side-poster">
      <div class="side-poster-icon">
        <img alt="avatar" title="avatar" src="assets/images/avatar.png" style="height: 52px; width: 52px;">
      </div>
      <div class="side-poster-name">
        <div class="font-weight-bold">Original-poster-72</div>
        <div class="text-muted">@XTrades8905</div>
      </div>
      <div class="side-poster-follow">
        <button class="btn"><span class="badge rounded-pill bg-secondary">Follow</span></button>
      </div>
    </div>

    <div class="side-performance">
      <h6>Past Performance with IRBT</h6>
      <hr>
      <div class="side-performance-item">
        <div class="side-performance-item-label text-muted">
          <fa-icon [icon]="faAward"></fa-icon>&nbsp;&nbsp;
          <span>Win rate</span>
        </div>
        <div class="side-performance-item-value font-weight-bold">
          42%
        </div>
      </div>
      <hr>
      <div class="side-performance-item">
        <div class="side-performance-item-label text-muted">
          <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp;
          <span>Average trade R/R</span>
        </div>
        <div class="side-performance-item-value font-weight-bold">
          .32
        </div>
      </div>
    </div>

    <div class="side-tip">
      <button class="btn btn-primary">
        <fa-icon [icon]="faTimesCircle"></fa-icon>&nbsp;&nbsp;
        <span>Tip trader</span>
      </button>
    </div>
  </div>

  <div class="main">
    <div class="main-container">
      <div class="main-header">
        <div class="main-header-stock">
          <img alt="stock" title="stock" src="assets/images/stock.png" style="height: 40px; width: 40px;">
        </div>
        <div class="main-header-info">
          <div>
            <span class="font-weight-bold">SPY $200 Put - 02.13.22</span>&nbsp;&nbsp;
            <span><img alt="bull" title="bull" src="assets/images/bull.png" style="height: 12px; width: 20px;"></span>
          </div>
          <div>
            <span class="text-muted">STO @ $4.32 PM</span>
          </div>
        </div>
        <div class="main-header-buttons">
          <div>
            <button class="btn">
              <fa-icon [icon]="faThumbsUp"></fa-icon>&nbsp;<span>24</span>
            </button>
          </div>
          <div>
            <button class="btn selected">
              <fa-icon [icon]="faBookmark"></fa-icon>&nbsp;<span>7</span>
            </button>
          </div>
          <div>
            <button class="btn">
              <fa-icon [icon]="faComment"></fa-icon>&nbsp;<span>37</span>
            </button>
          </div>
        </div>
      </div>

      <div class="main-article">
        <h3 class="main-article-title">
          Huge news on mops not yet factored into IRBT price
        </h3>
        <p class="main-article-except text-muted">
          More of the same. Thursdays. Look at hiow we've been doing on Thursdays lately (chart below). We get a
          pullback then a rise. The one hour chart always get to a bottom point and we rise from there. Let's see
          how the day goes from here. This SPY 417.6ish line is old support and let's see how the day goes from
          here. This SPI 417.6ish line is old support and...
        </p>
        <div class="main-article-tags">
          <span class="text-muted badge rounded-pill bg-light">Momentum</span>&nbsp;&nbsp;
          <span class="text-muted badge rounded-pill bg-light">Swing</span>&nbsp;&nbsp;
          <span class="text-muted badge rounded-pill bg-light">Technical</span>
        </div>
      </div>

      <div class="main-chart">
        <div class="main-chart-box">
          <div class="main-chart-box-section main-chart-box-section-tools">
            <div class="main-chart-box-section-tools-column1">
              <select class="form-control form-select">
                <option><span class="font-weight-bold">Timeframe:</span> 1 day</option>
              </select>
            </div>
            <div class="main-chart-box-section-tools-column2">
              <div>
                <button class="btn btn-chart">
                  <fa-icon class="text-blue" [icon]="faBullhorn"></fa-icon>&nbsp;&nbsp;
                  <span class="text-muted">Alert entry</span>
                </button>
              </div>
              <div>
                <button class="btn btn-chart">
                  <fa-icon class="text-blue" [icon]="faChartBar"></fa-icon>&nbsp;&nbsp;
                  <span class="text-muted">Alert update</span>
                </button>
              </div>
              <div>
                <button class="btn btn-outline-primary">Request update</button>
              </div>

            </div>
          </div>
          <div class="main-chart-box-section main-chart-box-section-chart">
            <div class="main-chart-box-section-chart-column1">
              <div>
                <div class="text-muted" style="margin-bottom: 6px;">Current stock price</div>
                <div><span class="text-big">$85.48</span></div>
              </div>
              <div>
                <div class="text-muted" style="margin-bottom: 6px;">Stock price at entry</div>
                <div><span class="text-big">$84.24</span></div>
              </div>
              <div>
                <div class="text-muted" style="margin-bottom: 6px;">Trade entry time</div>
                <div>
                  <span class="text-big">8:49 am</span>&nbsp;&nbsp;
                  <span class="text-aside">2 hours ago</span>
                </div>
              </div>
              <div>
                <div class="text-muted" style="margin-bottom: 6px;">Trade gain/loss</div>
                <div>
                  <span class="text-big">+$1.24</span>&nbsp;&nbsp;&nbsp;
                  <div class="badge badge-gain rounded-pill">Up 1.5%</div>
                </div>
              </div>
            </div>
            <div class="main-chart-box-section-chart-column2">
              <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                class="main-chart-box-section-chart-column2-chart" style="width: 100%; height: 300px; display: block;">
              </highcharts-chart>
            </div>
          </div>
          <div class="main-chart-box-section main-chart-box-section-details">
            <div class="main-chart-box-section-details-column" style="margin-right: 16px;">
              <h6>Trade details</h6>
              <hr>
              <div>
                <span class="text-muted">
                  <fa-icon [icon]="faBullseye"></fa-icon>&nbsp;&nbsp;Price target
                </span>
                <span class="font-weight-bold" style="float: right;">$89.20</span>
              </div>
              <hr>
              <div>
                <span class="text-muted">
                  <fa-icon [icon]="faStopCircle"></fa-icon>&nbsp;&nbsp;Stop loss
                </span>
                <span class="font-weight-bold" style="float: right;">$78.48</span>
              </div>
              <hr>
              <div>
                <span class="text-muted">
                  <fa-icon [icon]="faBalanceScale"></fa-icon>&nbsp;&nbsp;Original trade R/R
                </span>
                <span class="font-weight-bold" style="float: right;">.2</span>
              </div>
            </div>
            <div class="main-chart-box-section-details-column" style="padding-left: 16px;">
              <h6>Options' metrics</h6>
              <hr>
              <div>
                <span class="text-muted">
                  <fa-icon [icon]="faChartPie"></fa-icon>&nbsp;&nbsp;Stock float
                </span>
                <span class="font-weight-bold" style="float: right; color: inherit;">37%</span>
              </div>
              <hr>
              <div>
                <span class="text-muted">
                  <fa-icon [icon]="faFlask"></fa-icon>&nbsp;&nbsp;$ volume / MCAP
                </span>
                <span class="font-weight-bold" style="float: right;">37%</span>
              </div>
              <hr>
              <div>
                <span class="text-muted">
                  <fa-icon [icon]="faTag"></fa-icon>&nbsp;&nbsp;% above or below VWAP
                </span>
                <span class="font-weight-bold" style="float: right;">37%</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-comments">
        <div class="main-comments-header">
          <div class="main-comments-header-count">
            <span>Comments (72)</span>
          </div>
          <div class="main-comments-header-filter">
            <select class="form-control form-select">
              <option><span class="font-weight-bold">Sort by:</span> Most popular</option>
            </select>
          </div>
        </div>
        <div class="main-comments-details">
          <div class="main-comments-details-comment">
            <div class="main-comments-details-comment-avatar">
              <img alt="avatar" title="avatar" src="assets/images/avatar.png" style="height: 52px; width: 52px;">
            </div>
            <div class="main-comments-details-comment-content">
              <div class="main-comments-details-comment-content-header">
                <div class="main-comments-details-comment-content-header-name">
                  Lysander
                </div>
                <div class="main-comments-details-comment-content-header-alert">
                  <span class="badge rounded-pill bg-secondary">Alert maker</span>
                </div>
                <div class="main-comments-details-comment-content-header-time text-muted">
                  Yesterday, 10:18am
                </div>
              </div>
              <div class="main-comments-details-comment-content-text text-muted">
                SPY can have my kidney if it breaks 421.90, but im not seeing the volume. Maybe people are waiting until
                2pm?
              </div>
              <div class="main-comments-details-comment-content-tools">
                <div class="main-comments-details-comment-content-tools-like">
                  <button class="btn btn-muted">
                    <fa-icon [icon]="faThumbsUp"></fa-icon>&nbsp;<span>24</span>
                  </button>
                </div>
                <div class="main-comments-details-comment-content-tools-reply">
                  <button class="btn btn-muted">
                    <fa-icon [icon]="faReply"></fa-icon>&nbsp;<span>Reply</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="main-comments-details-comment-more">
              <div class="main-comments-details-comment-more-button">
                <button class="btn btn-muted">
                  <fa-icon [icon]="faEllipsisH"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="main-comments-details-comment">
            <div class="main-comments-details-comment-avatar">
              <img alt="avatar" title="avatar" src="assets/images/avatar.png" style="height: 52px; width: 52px;">
            </div>
            <div class="main-comments-details-comment-content">
              <div class="main-comments-details-comment-content-header">
                <div class="main-comments-details-comment-content-header-name">
                  Lysander
                </div>
                <div class="main-comments-details-comment-content-header-alert">
                  <span class="badge rounded-pill bg-secondary">Alert maker</span>
                </div>
                <div class="main-comments-details-comment-content-header-time text-muted">
                  Yesterday, 10:18am
                </div>
              </div>
              <div class="main-comments-details-comment-content-text text-muted">
                SPY can have my kidney if it breaks 421.90, but im not seeing the volume. Maybe people are waiting until
                2pm?
              </div>
              <div class="main-comments-details-comment-content-tools">
                <div class="main-comments-details-comment-content-tools-like">
                  <button class="btn btn-muted">
                    <fa-icon [icon]="faThumbsUp"></fa-icon>&nbsp;<span>24</span>
                  </button>
                </div>
                <div class="main-comments-details-comment-content-tools-reply">
                  <button class="btn btn-muted">
                    <fa-icon [icon]="faReply"></fa-icon>&nbsp;<span>Reply</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="main-comments-details-comment-more">
              <div class="main-comments-details-comment-more-button">
                <button class="btn btn-muted">
                  <fa-icon [icon]="faEllipsisH"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="main-comments-input">
          <div class="main-comments-input-box">
            <div class="main-comments-input-box-text">
              <textarea class="form-control" placeholder="Write your message..."></textarea>
            </div>
            <div class="main-comments-input-box-tools">
              <div class="main-comments-input-box-tools-buttons">
                <div>
                  <button class="btn btn-muted">
                    <fa-icon [icon]="faSmile"></fa-icon>
                  </button>
                </div>
                <div>
                  <button class="btn btn-muted">
                    <fa-icon [icon]="faPaperclip"></fa-icon>
                  </button>
                </div>
                <div>
                  <button class="btn btn-muted">
                    <fa-icon [icon]="faMicrophone"></fa-icon>
                  </button>
                </div>
              </div>
              <div class="main-comments-input-box-tools-submit">
                <div>
                  <button class="btn btn-outline-primary">Send</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<div class="container">
  <div class="center">
    <button class="btn btn-lg btn-primary" (click)="open(content)">Open</button>
  </div>
</div>